@import '_variables';

html,
body  {
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #171919;
    color: #fff;
}

.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.container {
    margin: 0 auto;
    max-width: 1920px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    &:hover {
        text-decoration: none;
        color: #fff;
    }
}

ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.headline-left {
    padding-left: 103px;
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-size: 22px;
    line-height: 145%;
    letter-spacing: 7.33333px;
    text-transform: uppercase;
    opacity: 0.5;
    color: #FFF;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 80px;
        height: 1px;
        background-color: #fff;
    }
}

.title {
    span {
        display: inline-block;
        position: relative;
        font-size: 200px;
        transform: translateX(-50px);
        color: rgba(#fff, .02);
    }
    h3 {
        position: absolute;
        top: 0;
        right: -5px;
        margin: 0;
        font-size: 80px;
        color: #fff;
        &::after {
            content: '';
            position: absolute;
            top: 20px;
            right: 0;
            width: 80px;
            height: 1px;
            background-color: $green;
        }
    }
}

.subtitle {
    display: inline-block;
    text-align: right;
    &__head {
        padding-right: 10px;
        font-size: 40px;
        color: #FFFFFF;
    }
}

.line {
    font-weight: 100;
}

.btn {
    font-size: 40px;
    line-height: 90%;
    span {
        margin-left: 19px;
        padding: 17px 57px 15px 17px;
        position: relative;
        display: inline-block;
        background-color: $green;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -10px;
            width: 20px;
            height: 1px;
            background-color: #fff;
        }
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 17px;
            width: 25px;
            height: 21px;
            transform: translateY(-50%);
            background-image: url(../icons/arrows/arrow_right.svg);
        }
    }
}