.header {
    position: relative;
    height: 100vh;
    &__slider {
        &-item {
            position: relative;
            height: 100vh;
            background: url('../img/header/header__bg.jpg') center center/cover no-repeat;
        }
        &-info {
            position: absolute;
            right: 80px;
            bottom: 116px;
            text-align: right;
            text-transform: uppercase;
            color: #fff;
        }
        &-title {
            margin-bottom: 48px;
            font-size: 80px;
            line-height: 108%;
            color: #FFFFFF;
        }
        &-subtitle {
            margin-bottom: 11px;
        }
        &-text {
            margin-bottom: 20px;
            font-size: 40px;
            line-height: 135%;
            color: #FFF;
        }
        &_arrows {
            position: absolute;
            top: 40px;
            right: 80px;
            z-index: 2;
            cursor: pointer;
            &-left {
                right: 125px;
            }
        }
    }
    &__dots {
        position: absolute;
        right: 50px;
        bottom: 36px;
        max-width: 920px;
        width: 100%;
        color: #fff;
        .slick-current {
            .dots__container {
                border-top: 4px solid $green;
            }
        }
    }
}

.dots {
    &__container {
        padding-top: 6px;
        width: 200px;
        height: 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 4px solid #fff;
    }
    &__number {
        font-size: 24px;
        line-height: 142%;
        text-transform: uppercase;
    }
    &__name {
        font-weight: 300;
        line-height: 119%;
    }
}


.slick-track {
    transform: translate3d(0px , 0px, 0px) !important; 
}