.surf {
    padding: 160px 0 210px;
    background: url(../img/surf/surf__bg.svg) right 200px/auto no-repeat;
    &__subtitle {
        margin-top: -86px;
        padding-right: 80px;
        text-align: right;
    }
    &-box {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &__inner {
            min-height: 750px;
            position: relative;
            background: rgba(#1c2121, .85);
            &-btn {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center;
            }
            &-title {
                padding: 72px 0 0 40px;
                width: 140px;
                font-size: 40px;
                line-height: 90%;
            }
            &-location {    
                margin: 140px 0 0 35px;
                font-weight: 400;
                font-size: 18px;
                line-height: 122%;
                letter-spacing: 8px;
                writing-mode: vertical-rl;
                transform: rotate(-180deg);
                color: #FFFFFF;
            }
        }
    }
    &__slider {
        padding-top: 110px;
        .slick-arrow {
            top: 50px;
            opacity: .25;
        }
        .slick-slide:nth-child(2n+1) {
            .surf-box {
                margin-top: 32px;
            }
        }
        .slick-slide:nth-child(4n+3) {
            .surf-box {
                margin-top: 89px;
            }
        }
    }
}
