.surf {
    padding: 160px 0 210px;
    background: url(../img/surf/surf__bg.svg) right 200px/auto no-repeat;
    &__subtitle {
        margin-top: -86px;
        padding-right: 80px;
        text-align: right;
    }
}
